* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
:root {
  --color-primary: #000004;
  --color-base: #fff;
  --max-content-width: 1200px;
  --color-secondary: #f3f3f3;
}
