.container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  z-index: 5;
  padding: 20px 80px 20px 20px;

  overflow-y: hidden;
  transition: transform 0.5s ease-in-out;
}
.hidden {
  display: none;
}
.arrow {
  transform: rotate(90deg);
}
.back {
  display: flex;
  color: var(--color-base);
  align-items: center;
}
.linkWithMenu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.slide-in {
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-out {
  animation: slideOut 0.5s forwards;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  height: 100%;
  justify-content: center;
}
.menu a,
.menu span {
  text-decoration: none;
  color: var(--color-base);
  font-size: 24px;
}
.close {
  position: fixed;
  right: 10px;
  cursor: pointer;
  top: 10px;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
