.wrapper {
  color: var(--color-base);
  position: relative;
}
.menu {
  position: absolute;
  top: 35px;
  text-align: center;
}
.wrapper label {
  cursor: pointer;
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.icon {
  transition: transform 0.35s ease-in-out;
}

.active {
  transform: rotate(0deg);
}
.base {
  transform: rotate(180deg);
}
