.wrapper {
  width: 100%;
  min-width: 70px;
  height: 100%;
  background-color: var(--color-secondary);
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  color: var(--color-primary);
  position: relative;
  z-index: 2;
}
.wrapper::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 5px;
  top: -6px;
  border-radius: 5px;
  background: var(--color-secondary);
  z-index: 1;
  display: inline-block;
  transform: rotate(45deg);
}
.wrapper span {
  z-index: 2;
  cursor: pointer;
  text-wrap: nowrap;
}
.wrapper span:hover {
  text-decoration: underline;
}
.wrapper hr {
  border-color: var(--color-primary);
}
